<% provide(:title, "Home") %>

	<div>
		<h2>Welcome to Cinemob</h2>
		
		<% if user_signed_in? %>
		<h3>View <%= link_to 'Showtimes', showings_path %></h3>
		
		<% else %>
		<h3>View <%= link_to 'Showtimes', showings_path %></h3>
		<h3>Please <%= link_to 'Login', new_user_session_path %> or <%= link_to 'Register', new_user_registration_path %> to continue using the site</h3>
		<% end %>

        <% if user_signed_in? %>
        <h4>Welcome back <%= current_user.email %></h4>
        <p>You were last signed in at: <%= current_user.last_sign_in_at %></p>
 
	        <% if @lastbooking.nil? %>
	        <p>You have no booking history</p>
	        <% else %>
	        <p>Your last booking was:</p>
	        <%= @lastbooking.bookingdate %> | <%= @lastbooking.status %> | <%= link_to 'Show', @lastbooking %>
	       <% end %><br></p>
	   <% end %>
	   <br>
		<div class="filmcontainer">
		   <div class= "filmimagecol4"><%= image_tag("the_godfather.jpg", alt: "The Godfather Film Poster", :class => "filmposter")%></div>
		   <div class="filmimagecol4"><%= image_tag("et.jpg", alt: "E T Film Poster", :class => "filmposter" )%></div>
		   <div class="filmimagecol4"><%= image_tag("casablanca.jpg", alt: "Casablanca Film Poster", :class => "filmposter")%></div>
		   <div class="filmimagecol4"><%= image_tag("terminator.jpg", alt: "The Terminator Film Poster", :class => "filmposter")%></div>
		</div>
		<br>
		<div class="filmcontainer">
		   <div class="filmimagecol4"><%= image_tag("predator.jpg", alt: "Predator Film Poster", :class => "filmposter")%></div>
		   <div class="filmimagecol4"><%= image_tag("home_alone.jpg", alt: "Home Alone Film Poster", :class => "filmposter")%></div>
		   <div class="filmimagecol4"><%= image_tag("pulp_fiction.jpg", alt: "Pulp Fiction Film Poster", :class => "filmposter")%></div>
		   <div class="filmimagecol4"><%= image_tag("the_departed.jpg", alt: "The Departed Film Poster", :class => "filmposter")%></div>
		</div>
		<br>
		<div class="filmcontainer">
		   <div class="filmimagecol4"><%= image_tag("singin_in_the_rain.jpg", alt: "Singin in the Rain Film Poster", :class => "filmposter")%></div>
		   <div class="filmimagecol4"><%= image_tag("beauty_and_the_beast.jpg", alt: "Beauty and the Beast Film Poster", :class => "filmposter")%></div>
		   <div class="filmimagecol4"><%= image_tag("inception.jpg", alt: "Inception Film Poster", :class => "filmposter")%></div>
		   <div class="filmimagecol4"><%= image_tag("schindlers_list.jpg", alt: "Schindler's Lit Film Poster", :class => "filmposter")%></div>
		</div>
		<br><br>

		<p><em> Temp links:</em></p>
		 <div>
            <!--admin only -->
            
            <li><%= link_to 'Booking', bookings_path %></li>
            <li><%= link_to 'Bookingshowing', bookingshowings_path %></li>
            <li><%= link_to 'Film', films_path %></li>
            <li><%= link_to 'Screen', screens_path %></li>
            <li><%= link_to 'Cart', cart_path %></li>
            <li><%= link_to 'showingseatallocations', showingseatallocations_path %></li>
            

    	</div>
		
	</div>
			
