<% provide(:title, "Home") %>

	<div>
		<h2>Welcome to Cinemob</h2>
		
		<h3><%= link_to "View Showtimes", showings_path, :class => "link" %></h3>
		
        <% if user_signed_in? %>
        <h4>Welcome back <%= current_user.email %></h4>
        <p>You were last signed in at: <%= current_user.last_sign_in_at %></p>
 
	        <% if @lastbooking.nil? %>
	        <p>You have no booking history</p>
	        <% else %>
	        <p>Your last booking was:</p>
	        <%= @lastbooking.bookingdate %> | <%= @lastbooking.status %> | <%= link_to 'Show', @lastbooking, :class => "link" %>
	       <% end %><br></p>
		<% end %>
	  	
	  	
	  	
	   
		<div class="filmcontainer">
			<% if @films.nil? %>
				<p> There are no films showing</p>
			<% else %>
				<% @films.each do |film| %>
			   	<div class= "filmimagecol5"><%= link_to (image_tag film.poster_url, :class => "filmposter"), film %></div>
				 <% end %>
			<% end %>	 
		</div>
		
		<% if !user_signed_in? %>
		<h4>Please <%= link_to "Login", new_user_session_path, :class => "link"  %> or <%= link_to "Register", new_user_registration_path, :class => "link"  %> to continue using the site</h4>
		<% end %>
		
		<%= render 'layouts/search'%>
		
	</div>
			
