<%= form_with(model: showing, local: true) do |form| %>
  <% if showing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(showing.errors.count, "error") %> prohibited this showing from being saved:</h2>

      <ul>
      <% showing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :slot %>
    <%= form.datetime_select :slot, id: :showing_slot %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :showing_price %>
  </div>

  <div class="field">
    <%= form.label :screen_id %>
    <%= form.text_field :screen_id, id: :showing_screen_id %>
  </div>

  <div class="field">
    <%= form.label :film_id %>
    <%= form.text_field :film_id, id: :showing_film_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
