<p id="notice"><%= notice %></p>

<h1>Showings</h1>

<br><br>
     Slot | Price | Screen | Film | Seatallocation

<% @showings.each do |showing| %>
  <% @thisscreen = Screen.where(id: showing.screen_id) %>
  <% @thisfilm = Film.where(id: showing.film_id) %>
    
  <% @thisscreen.each do |screen| %>
    <% @thisfilm.each do |film| %>
        <br>
        <%= showing.slot %> | <%= number_to_currency(showing.price, :unit => '€') %> | <%= screen.screenname %> | <%= film.title %> | 
        <br>
        <% seatarr = showing.seatallocation.split(' ') %>
        <% rows = screen.rows.to_i  %>
        <% width = screen.width.to_i  %>
       
        <br>
        <% i = 0 %>
        <% index = 0 %>
        <% while i < rows do %>
          <% j = 0 %>
          <% while j < width do %>  
              <% if seatarr[index][3,4] == 'N' %>
                <a href="/cart/<%= showing.id %>/<%= seatarr[index] %>">seat</a>
              <% elsif seatarr[index][3,4] == 'R' %>
                 rsrv <% seatarr[index]  %>
              <% else %>
                 gone <% seatarr[index] %>
              <% end %>
            <% j+=1 %> 
            <% index+=1 %> 
          <% end %><br>
          <% i+=1 %> 
        <% end %>

        
        <% if user_signed_in? %>
            <a href="/cart/<%= showing.id %>">Add to Cart</a>
        <% end %>
        <% if user_signed_in? || admin_signed_in? %>
          <%=  link_to 'Show', showing %>
        <% end %>
        <% if admin_signed_in? %>
            <%= link_to 'Edit', edit_showing_path(showing) %>
            <%= link_to 'Destroy', showing, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        <br>
    <% end %>
  <% end %>
<% end %>
    
    

<br>
<% if admin_signed_in? %>
  <%= link_to 'New Showing', new_showing_path %>
<% end %>
