<p id="notice"><%= notice %></p>

<p>
  <strong>Slot:</strong>
  <%= @showing.slot %>
</p>

<p>
  <strong>Price:</strong>
  <%= @showing.price %>
</p>

<p>
  <strong>Screen:</strong>
  <%= @showing.screen %>
</p>

<p>
  <strong>Film:</strong>
  <%= @showing.film %>
</p>

<%= link_to 'Edit', edit_showing_path(@showing) %> |
<%= link_to 'Back', showings_path %>
