<%= form_with(model: screen, local: true) do |form| %>
  <% if screen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(screen.errors.count, "error") %> prohibited this screen from being saved:</h2>

      <ul>
      <% screen.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :screenname %>
    <%= form.text_field :screenname, id: :screen_screenname %>
  </div>

  <div class="field">
    <%= form.label :rows %>
    <%= form.number_field :rows, id: :screen_rows %>
  </div>

  <div class="field">
    <%= form.label :width %>
    <%= form.number_field :width, id: :screen_width %>
  </div>

  <div class="field" style="display:none;">
    <%= form.label :seating %>
    <%= form.text_area :seating, id: :screen_seating %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
