<% provide(:title, "Screens") %>


<h1>Screens</h1>

<table>
  <thead>
    <tr>
      <th>Screenname</th>
      <th>Rows</th>
      <th>Width</th>
      <th>Seating Capacity</th>
    </tr>
  </thead>

  <tbody>
    <% @screens.each do |screen| %>
      <tr>
        <td><%= screen.screenname %></td>
        <td><%= screen.rows %></td>
        <td><%= screen.width %></td>
        <td><%= screen.rows * screen.width %></td> 
        <td><%= link_to 'Show', screen, :class => "link" %></td>
        <td><%= link_to 'Edit', edit_screen_path(screen), :class => "link" %></td>
        <td><%= link_to 'Destroy', screen, method: :delete, data: { confirm: 'Are you sure?' }, :class => "link" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>

<% if admin_signed_in? %>
  <%= link_to 'New Screen', new_screen_path, :class => "linkblack" %>
<% end %>
