<p id="notice"><%= notice %></p>

<p>
  <strong>Screenname:</strong>
  <%= @screen.screenname %>
</p>

<p>
  <strong>Rows:</strong>
  <%= @screen.rows %>
</p>

<p>
  <strong>Width:</strong>
  <%= @screen.width %>
</p>

<p>
  <strong>Seating capacity:</strong>
  <%= @screen.rows * @screen.width %>
</p>

<%= link_to 'Edit', edit_screen_path(@screen), :class => "link" %> |
<%= link_to 'Back', screens_path, :class => "link"  %>
