<p id="notice"><%= notice %></p>

<p>
  <strong>Seatallocation:</strong>
  <%= @showingseatallocation.seatallocation %>
</p>

<p>
  <strong>Rows:</strong>
  <%= @showingseatallocation.rows %>
</p>

<p>
  <strong>Width:</strong>
  <%= @showingseatallocation.width %>
</p>

<p>
  <strong>Showing:</strong>
  <%= @showingseatallocation.showing %>
</p>

<%= link_to 'Edit', edit_showingseatallocation_path(@showingseatallocation), :class => "link" %> |
<%= link_to 'Back', showingseatallocations_path, :class => "link" %>
