<% provide(:title, "Films") %>


<h1>Films</h1>

    <% if admin_signed_in? %>
        <%= link_to 'New Film', new_film_path, :class => "linkblack" %>
        <br><br>
    <% end %>

    <div class = "filmcontainer">
    <% @films.each do |film| %>
    <div class="filmdetails">
        <h3><%= film.title %></h3>
        <p class="center"> <%= link_to (image_tag film.poster_url, :class => "filmposter"), film %></p>
        <p> <b>Starring: </b><%= film.filmcast %></p>
        <p> <b>Synopsis: </b><%= film.plot %></p>
        <p> <b>View Trailer: </b> <%= link_to  (film.trailer_url), film.trailer_url %> </p>
        <p> <b>Runtime: </b> <%= film.runtime %> minutes </p>
        <% if admin_signed_in? %>
            <%= link_to 'Edit', edit_film_path(film), :class => "link" %> | <%= link_to 'Destroy', film, method: :delete, data: { confirm: 'Are you sure?' }, :class => "link" %>
        <% end %>
    </div>
    <br>
    <% end %>
    </div>
    
        <% if admin_signed_in? %>
        <%= link_to 'New Film', new_film_path, :class => "linkblack" %>
        <% end %>
        
