<p id="notice"><%= notice %></p>

<h1>Bookingshowings</h1>

<table>
  <thead>
    <tr>
      <th>Showing</th>
      <th>Filmtitle</th>
      <th>Screenname</th>
      <th>Seat</th>
      <th>Price</th>
      <th>Booking</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookingshowings.each do |bookingshowing| %>
      <tr>
        <td><%= bookingshowing.showing_id %></td>
        <td><%= bookingshowing.filmtitle %></td>
        <td><%= bookingshowing.screenname %></td>
        <td><%= bookingshowing.seat %></td>
        <td><%= bookingshowing.price %></td>
        <td><%= bookingshowing.booking %></td>
        <td><%= link_to 'Show', bookingshowing %></td>
        <td><%= link_to 'Edit', edit_bookingshowing_path(bookingshowing) %></td>
        <td><%= link_to 'Destroy', bookingshowing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bookingshowing', new_bookingshowing_path %>
