<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Cinemob</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <% unless notice.nil? %>
      <div class="notice"><%= notice %></div>
    <% end %>
    
    <% unless alert.nil? %>
      <div class="alert"><%= alert %></div>
    <% end %>

  </head>
  
  <%= render 'layouts/header'%> 
  
  <div id="bodymain">
    
        <div id="logo">
          
          <%= link_to image_tag("Cinemob_Logo", :id =>"image_logo"), root_path %>
          
        </div>
    
    
    <div class="container">
      <%= yield %>

    </div>

  </div> 
  <%= render 'layouts/footer'%> 
</html>
