<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Cinemob</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </head>
  

<%= render 'layouts/header'%> 


  
  <div id="bodymain">
    
        <div id="logo">
          
          <%= image_tag("Cinemob_Logo", :id =>"image_logo")%>
          
        </div>
    
    
    <div class="container">
      <%= yield %>
    <br>
      <%= render 'layouts/search'%>
    </div>
    
    <br>
    <%=render 'layouts/footer'%> 
    
  </div> 
</html>
